* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Orbitron;
}

.display {
    display: flex;
    justify-content: end;
    height: 100px;
    width: 440px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(221, 220, 220);
    border: 5px solid rgb(148, 148, 148);
    font-size: 50px;
}

.display span {
    padding: 10px;
    align-self: center;
}



main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.calculator {
    display: flex;
    align-self: center;
    width: 440px;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(155, 153, 153);
    border: 5px solid rgb(148, 148, 148)

}

.calculator div {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    margin: 5px;
    font-size: 50px;
    border: 1px solid gray;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(222, 222, 223);
    border: 3px solid rgb(177, 177, 177);


}

div.operator {
    background-color: rgb(228, 121, 33);
    border: 3px solid rgb(197, 105, 30);
}

div.clear {
    background-color: rgb(9, 95, 165);
    border: 3px solid rgb(8, 78, 136)
}

.calculator > div {
    transition: all 0.01s ease-in-out;
}

.calculator >div:hover {
    transform: scale(1.1);
    cursor: pointer;
}